<marquee width="100%">Lightning deals in flipkart</marquee>
<div class="row" *ngFor="let f of fridge" [ngSwitch]="f.Status" style="border-radius:10px;border:none;float:left;" >
<div class="fridge">
    <div>
        <img [src]="f.img" alt="">
        <hr>
    </div>
    <div class="fridge-boby">
        <p class="desc"><b>Product:</b> {{f.pname|uppercase}}</p>
        <p class="desc"><b>Description:</b> {{f.pdescription}}</p>
        <p class="desc"><b>Price:</b> {{f.price | currency :'INR'}}</p>
    </div>
    <div style="float: left;"><p class="desc1" style="padding-right: 10px;"><b>Status:</b></p></div>
    <div style="padding-left: 10px;float: center;">
    <p *ngSwitchCase="'In Stock'" class="text-success">
        {{f.Status}}
    </p>
    <p *ngSwitchCase="'Out of Stock'" class="text-danger">
        {{f.Status}}
    </p>
    </div>
</div>
</div>
