img{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.product{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    
}