marquee{
    text-shadow:2px 3px 3px rgba(251, 226, 3, 0.724);
    color:rgb(4, 4, 4);
    font-size: 28px;
}
.background {
    padding: 20px;
    margin-left: px;
    margin-top: 40px;
    width: 80%;
    border-style: inset;
    border-radius: 10px;
    border-color: black;
    box-shadow: 2px 3px 4px rgb(15, 15, 15);
}