input {
    width: 60%;
    margin-left: 50px;
}

label {
    margin-left: 50px;
}
h4{
    margin-left: 600px;

}

form {
    padding: 20px;
    margin-left: px;
    margin-top: 40px;
    width: 80%;
    border-style: inset;
    border-radius: 10px;
    border-color: black;
    box-shadow: 2px 3px 4px rgb(15, 15, 15);
}

form:hover {
    color: rgb(246, 54, 76);
    background-color: rgb(244, 170, 170);
    transform:scale(1.2);

}

button {
    margin-left: 100px;
}

span {
    width: 60%;
    margin-left: 100px;
}