<marquee>CONTACT US</marquee>
<div style="margin-top: 30px;">
    <div class="row">
        <!--1st column
        <div class="col col-lg-5" style="margin-top: 30px;">
        </div>-->
        <!--2nd column-->
        <div class="card col-lg-7" style="border:none;margin-top:30px;">
            <div class="card-body col-lg-12">
                <div class="row" style="margin-top:10px;border-style:solid;border-color:black;border-radius:15px;"
                    *ngFor="let contactus of contactus">
                    <div class="col-lg-3">
                        <!--Property Binding-->
                        <img [src]="contactus.img">
                    </div>
                    <div class="col-lg-9" style="margin-top:20px;">
                        <!--Interpolation Binding-->
                        <div>
                            Employee ID:{{contactus.pid}}
                            <br>
                            Employee Name: {{ contactus.pname | uppercase}}
                        </div>
                        <div [hidden]="productDetail">
                            Email: {{contactus.pemail}}
                            <br>
                            Contact Number: {{ contactus.pnum }}
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
